@import "vars";

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Inconsolata";
    font-size: 95%;
    height: 100%;
}
a {
    text-decoration: none;
    color: $accent;
}
a:hover {
    text-decoration: underline;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
 * Navbar
 */

#author-name {
    font-size: 30px;
    color: #22727;
    display: inline-block;
}
.navbar {
    padding: 20px 0 50px 0;
}
.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 10px 0 5px 0;
    margin-left: 20px;
}
.nav-list {
    list-style-type: none;
    margin: 10px 5px 0 10px;
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: left;
}

/* Divs */

.container {
    max-width: $max-width;
    margin: auto;
}

.navbar-container {
    max-width: $max-width-navbar;
    margin: auto;
}

.wrapper {
    min-height: 148%;
}

/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
}

@media (max-width: 580px) {
    #author-name {
        display: inline-block;
    }
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*
New bars
*/

/* Container for skill bars */
.newbars {
    width: 60%; /* Full width */ /* Grey background */
    margin-top: 10px;
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 2px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: #ddd;
    
    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: #ddd;
}

.skill {background-color:rgba(0, 0, 0, 0.566);} /* Green */

@import "typography";
@import "tables";


