/*
 * Customization Variables
 */

$accent: #FF0F00;
$image-size: 200px;
$image-size-list: 70px;

/*
 * Build Variables, don't touch
 */

$max-width-navbar: 770px;
$max-width: 700px;
$med-width: 600px;
$small-width: 480px;
